@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --deep-purple: #8C5DA7;
    --mid-purple: #B36BA4;
    --light-purple: #D7A8D4;
    --muted-purple: #A77DC2;
    --dark-purple: #5D4C7A;
    --gray-purple: #c7b9c8;
    --coffee-cream: #ece0d1;
    --white: #f2f2f2;
    --black: #1a1a1a;
    --red: tomato;
    --muted-red: #D9534F;
  }

  
/* Global styles */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--deep-purple);
    background-color: var(--gray-purple);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
    
}
  
a {
    color: var(--deep-purple);
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
button {
    display: inline-block;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1;
    border: 0;
    border-radius: 0.25rem;
    background-color: var(--deep-purple);
    color: var(--white);
    cursor: pointer;
}
  
button:hover {
    background-color: var(--muted-purple);
}

.btn-secondary {
    background-color: var(--coffee-cream);
    color: var(--dark-purple);
}

.btn-secondary:hover {
    background-color: var(--white);
}

.addButton {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    padding: 1rem;
}
.closeButton {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: -0.8rem;
    right: -0.8rem;
    border: solid 1px var(--deep-purple);
    background-color: var(--gray-purple);
    border-radius: 4px;
    cursor: pointer;
}

input[type="text"], input[type="password"], select {
    display: block;
    width: 300px;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid var(--gray-purple);
    border-radius: 0.25rem;
    background-color: var(--white);
    color: var(--black);
}
  
input[type="text"]:focus, select:focus {
    outline: none;
    border-color: var(--deep-purple);
    box-shadow: 0 0 0 0.1rem rgba(140, 93, 167, 0.25);
}

.loginInput {
    display: flex;
    width: 310px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.loginInput input {
    margin: 0.5rem;
}

.loginInput button {
    margin-top: 10px;
    width: 100%;
}

.taskInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.extendableInput {
    display: flex;
    flex-direction: column;
}

header {
    box-sizing: border-box;
    box-shadow: 4px 4px 8px 4px rgba(72, 44, 87, 0.251);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--deep-purple);
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
}

header h1 {
    color: var(--white)
}

.groupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem -0.5rem;
}

.group {
    position: relative;
    overflow: visible;
    box-shadow: 4px 4px 8px 4px rgba(72, 44, 87, 0.251);
    width: 400px;
    background-color: var(--coffee-cream);
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--deep-purple);
    border-radius: 8px;
}

.createGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    box-shadow: 4px 4px 8px 4px rgba(72, 44, 87, 0.251);
    background-color: var(--coffee-cream);
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--deep-purple);
    border-radius: 8px;
    max-height: 50px;
}

.createGroup button {
    padding: 0 0.5rem;
    margin-left: 1rem;
    height: 40px;
    width: 150px;
}

.createTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createTask button {
    margin-left: 2rem;
}

.group-invite-box {
    margin: 0.5rem;
    padding: 0.5rem;
}

.new-invitations {
    height: 1rem;
    width: 1rem;
    padding: 0 5px;
    border-radius: 50%;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: var(--coffee-cream);
}

.join-button {
    max-height: 35px;
    margin-left: 1rem;
}

.decline-button {
    max-height: 35px;
    color: var(--dark-purple);
    background: var(--coffee-cream);
    border: 1px solid var(--dark-purple);
}
.closeInviteButton {
    background-color: var(--coffee-cream);
    color: var(--dark-purple);
}

.closeInviteButton:hover {
    color: var(--muted-purple);
    background-color: var(--coffee-cream);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-left {
    align-items: flex-start;
}

.space-between {
    justify-content: space-between;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.modal {
    color: var(--dark-purple);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: start;
}

.modal h1 {
    color: var(--dark-purple);
}

.modalCloseButton {
    margin-top: 1rem;
    width: 100%;
}

.modalDeleteButton {
    background-color: var(--red);
}

.modalDeleteButton:hover {
    background-color: var(--muted-red);
}

.modal-main {
    box-sizing: border-box;
    width: 400px;
    background-color: var(--coffee-cream);
    color: var(--dark-purple);
    border-radius: 5px;
    padding: 20px;
  }

.margin-right-1 {
    margin-right: 1rem;
}

.confirmationModal {
    display: none;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .confirmationModal.show {
    display: block;
  }

  .modal-content {
    background-color: var(--coffee-cream-);
}

.taskDone {
    text-decoration: line-through;
    color: var(--gray-purple);
}

.taskDeleteButton {
    background-color: var(--coffee-cream);
    color: var(--dark-purple)
}

.taskDeleteButton:hover {
    background-color: var(--red);
}